/* ==== RESETS ==== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI Historic', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
    scroll-behavior: smooth;
}

body{
    background: var(--body);
}

body.offcanvas-menu:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul,
li {
    list-style: none;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

li ul {
    position: absolute;
    top: 52px;
    right: 20px;
    visibility: hidden;
    opacity: 0;
    background: var(--contents);
    box-shadow: var(--shadow);
    transition: all 0.2s ease;
}


li ul.dropdown-colapse {
    visibility: visible;
    opacity: 1;
}

li:hover span {
    visibility: visible;
    opacity: 1;
}

li span {
    position: absolute;
    top: 60px;
    visibility: hidden;
    opacity: 0;
    background: var(--span-header);
    padding: 8px;
    border-radius: 8px;
    font-size: var(--font-min);
    color: var(--span-header-header);
}

a {
    text-decoration: none;
}

input {
    border-radius: 20px;
    background: var(--content-secondary);
    border: none;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: var(--secondary);
    font-size: var(--font-medium);
}

.border-none {
    border: none !important;
}

.padding-0 {
    padding: 0 !important;
}

.padding-5 {
    padding: 5px 0 !important;
}

.mb-5 {
    margin-bottom: 5px;
}

.m-15{
    margin: 15px 0;
}

.svg-active {
    fill: var(--primary);
}

.svg-default {
    fill: var(--secondary);
}

.svg-user-area {
    fill: var(--text);
}

.svg-red{
    fill: #F3425F;
}

.svg-green{
    fill: #45BD62;
}

.svg-yellow{
    fill: #F7B928;
}

svg:hover {
    background: none !important;
}

:root {

    /* ==== CONTAINERS ====  */
    --body: #F0F2F5;
    --header: rgba(255, 255, 255, 255);
    --contents: rgba(255, 255, 255, 255);
    --content-secondary: #F0F2F5;
    --span-header: rgba(0, 0, 0, 0.8);
    --span-header-header: #FFFFFF;
    --scrollbar: rgba(0, 0, 0, 0.2);
    --galassmorphism: rgba(255, 255, 255, 0.5);
    --footer: rgb(226, 226, 226);

    /* ==== LINKS & TEXT ====  */
    --primary: #2374E1;
    --secondary: #65676B;
    --default: #555555;
    --text: #050505;
    --link-hover: rgba(0, 0, 0, 0.1);
    --icon-background: #E4E6EB;
    --font-min: 0.8em;
    --font-small: 0.875em;
    --font-normal: 1em;
    --font-medium: 1.2em;
    --font-large: 1.4em;
    --font-max: 2em;

    /* ==== SHADOWS & BORDERS ====  */
    --soft-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    --shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --soft-border: 1px solid rgba(0, 0, 0, 0.1);
    --border: 1px solid rgba(0, 0, 0, 0.2);
    --radius-normal: 5px;
    --radius-medium: 10px;
    --radius-large: 20px;
    --radius-round: 50%;
}

.darkmode {

    /* ==== CONTAINERS ====  */
    --body: #18191A;
    --header: rgb(41, 41, 41);
    --contents: #242526;
    --content-secondary: #4E4F50;
    --span-header: rgba(255, 255, 255, 0.8);
    --span-header-header: #000;
    --scrollbar: rgba(255, 255, 255, 0.2);
    --galassmorphism: rgba(0, 0, 0, 0.5);
    --footer: rgb(31, 31, 31);

    /* ==== LINKS & TEXT ====  */
    --primary: #2374E1;
    --secondary: #B0B3B8;
    --default: #555555;
    --text: #fff;
    --link-hover: rgba(255, 255, 255, 0.1);
    --link-background: rgba(255, 255, 255, 0.1);
    --icon-background: #4E4F50;

    /* ==== SHADOWS & BORDERS ====  */
    --shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    --soft-border: 1px solid rgba(255, 255, 255, 0.1);
    --border: 1px solid rgba(255, 255, 255, 0.2);
}

/* ==== HEADER ==== */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--header);
    box-shadow: var(--soft-shadow);
    border-bottom: var(--soft-border);
    z-index: 2;
}

.logo-and-search {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
    margin-left: 16px;
    margin-right: 5px;
}

.logo img {
    width: 100%;
    object-fit: cover;
}

.search {
    position: relative;
}

.search-input input {
    width: 240px;
    height: 40px;
    padding: 7px 34px;
}

.search-icon {
    position: absolute;
    top: 10px;
    padding: 0 12px;
}

.search-icon i {
    width: 16px;
    height: 16px;
    font-size: var(--font-medium);
    color: var(--secondary);
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul li {
    height: 56px;
    margin: 0 5px;
}

.li-active {
    border-bottom: 3px solid var(--primary);
}

.nav ul li a {
    display: flex;
    align-items: center;
    padding: 0 43px;
    height: 45px;
    border-radius: 8px;
}

.li-active a:hover {
    background: none !important;
}

.nav ul li a:hover,
.user-area ul li a:hover {
    background: var(--link-hover);
}

.item-count {
    position: absolute;
    top: 5px;
    margin-left: 40px;
    padding: 2px 7px;
    border-radius: 20px;
    background: #D81C3C;
    color: #fff;
    font-size: var(--font-min);
    font-weight: 600;
}

.user-area ul {
    display: flex;
    align-items: center;
    padding-right: 16px;
}

.user-area ul li {
    margin-right: 8px;
}

.list-svg {
    display: flex;
    justify-content: center;
    background: var(--icon-background);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.list-svg-active {
    display: flex;
    justify-content: center;
    background: rgba(45, 136, 255, 0.2);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.list-svg-active svg{
    fill: hsl(214, 100%, 59%);
}

.user-area ul li a {
    display: flex;
    align-items: center;
}

.user-area ul li a:hover{
    background: var(--icon-background) !important;
}

.user-details {
    padding: 3px 12px 3px 3px;
    border-radius: 20px;
    color: var(--text);
    font-size: 14px;
    font-weight: 600;
}

.user-area ul li a img {
    width: 28px;
    height: 28px;
    margin-right: 5px;
    border-radius: 50%;
    object-fit: cover;
}

.user-dropdown {
    width: 360px;
    padding: 8px;
    padding-right: 8px !important;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: var(--header);
    border: var(--soft-border);
}

.user-dropdown article {
    width: 100%;
    padding: 8px 0;
    border-bottom: var(--border)
}


.user-dropdown article .article-content {
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    padding: 5px 0;
}

.user-dropdown article:hover .article-content {
    background: var(--link-hover);
}

.article-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article-icon {
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.article-icon img {
    width: 60px;
    height: 60px;
    margin-right: 12px;
    border-radius: 50%;
    object-fit: cover;
}

.article-icon i {
    font-size: var(--font-large);
    color: var(--text);
}

.bx-chevron-right {
    font-size: var(--font-max);
    color: var(--secondary);
}

.article-details p {
    font-size: 15px;
    color: var(--text);
    font-weight: 600;
    letter-spacing: 1px;
}

.user-name{
    font-size: 17px;
}

.article-details small {
    font-size: 15px;
    color: var(--secondary);
    font-weight: 600;
}

.user-dropdown-footer{
    display: flex;
    flex-wrap: wrap;
}

.user-dropdown-footer{
    padding: 8px;
}

.user-dropdown-footer a{
    font-size: 13px;
    color: var(--secondary);
}

.user-dropdown-footer a:hover{
    background: transparent !important;
    text-decoration: underline;
}

.user-dropdown-footer p{
    display: flex;
    align-items: center;
    font-size: 8px;
    margin: 0 5px ;
    color: var(--secondary);
}

/* ==== MESSENGER ==== */
.messenger-dropdown{
    width: 360px;
    display: flex;
    align-items: flex-start !important;
    flex-direction: column;
    padding: 16px 8px;
}

.messenger-content{
    display: flex;
    align-items: center;
    padding: 6px 12px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.messenger-content:hover{
    background: var(--link-hover);
}

.messenger-photo img{
    width: 56px;
    height: 56px;
    margin-right: 12px;
    border-radius: 50%;
    object-fit: cover;
}

.messenger-action img{
    width: 28px;
    height: 28px;
}

.message{
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

.messenger-details p{
    color: var(--text);
    font-size: 15px;
    font-weight: 600;
}

.message p{
    color: var(--secondary);
    font-size: 13px;
}

.message-not-open{
    color: #2374E1 !important;
}

.message small{
    color: var(--secondary);
    font-size: 10px;
    margin: 0 5px;
}

/* ==== NOTIFICATION ==== */
.notification-dropdown {
    width: 360px;
    display: flex;
    align-items: flex-start !important;
    flex-direction: column;
    padding: 16px 8px;
}

.notification-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2px 16px;
}

.notification-header h1{
    color: var(--text);
    font-size: 24px;
}

.notification-header i{
    color: var(--secondary);
    font-size: 20px;
    font-weight: 900;
    padding: 5px 6px;
    border-radius: 50%;
    
}

.notification-header i:hover{
    background: var(--link-hover);
}

.notification-sub-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2px 16px;
}

.notification-sub-header a{
    margin: 0px 8px;
    color: var(--text);
    padding: 0 12px;
    height: 36px;
    border-radius: 50px;
    background: var(--link-hover);
   
}

.not-count{
    position: relative;
}

.not-count p{
    position: absolute;
    top: -25px;
    right: -15px;
    margin-left: 40px;
    padding: 2px 7px;
    border-radius: 50%;
    background: #D81C3C;
    color: #fff;
    font-size: var(--font-min);
    font-weight: 600;  
}

.notification-sub-header .active{
    background: rgba(45, 136, 255, 0.2);
    color: hsl(214, 100%, 59%);
}

.notification-sub-header .active:hover{
    background: rgba(45, 136, 255, 0.2) !important;
}

.notifications{
    margin-top: 20px;
}

.notification-content{
    display: flex;
    align-items: center;
    padding: 6px 16px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.notification-content:hover{
    background: var(--link-hover);
}

.notification-photo{
    position: relative;
}

.notification-photo img{
    width: 56px;
    height: 56px;
    margin-right: 12px;
    border-radius: 50%;
    object-fit: cover;
}

.notification-action{
    position: absolute;
    right: -2px;
    bottom: -6px;
}

.notification-action img{
    width: 28px;
    height: 28px;
}

.notification-details p{
    color: var(--secondary);
    font-size: 15px;
}

/* ==== MAIN ==== */
.main-content{
    padding-top: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.max-width-500{
    max-width: 500px; 
}

.left-content{
    position: fixed;
    top: 56px;
    left: 0;
   width: 320px;
    flex-basis: 360px;
    height: calc(100vh - 56px);
    padding: 10px 8px;
    overflow: auto;
}


.left-content:hover.left-content::-webkit-scrollbar-thumb {
    visibility: visible;
    opacity: 1;
}

.left-content::-webkit-scrollbar-track {
    border-radius: 10px;
}

.left-content::-webkit-scrollbar {
    width: 8px;
}

.left-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--scrollbar);
    visibility: hidden;
    opacity: 0;
}

.left-content-links{
    border-bottom: var(--soft-border);
}

.left-content-hide-links{
    display: none;
   
}

.show-links{
    display: block;
}

.bx-chevron-down{
    transition: all 0.3s ease;
}

.arrow-flip{
    transform: rotate(-180deg);
}

.left-content-links a{
    display: flex;
    align-items: center;
    color: var(--text);
    font-size: 15px;
    padding: 10px;
    border-radius: 8px;
    margin: 8px 0;    
}

.left-content-links a span{
    background: var(--link-hover);
    border-radius: 50%;
    padding: 4px 6px;
    margin-right: 10px;
}

.left-content-links a img{
    width: 28px;
    height: 28px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.left-content-links a:hover{
    background: var(--link-hover);
}

.shortcuts h2{
    padding: 10px;
    color: var(--secondary);
    font-size: 17px;
}

.shortcuts-content{
    display: flex;
    flex-direction: column;
    padding: 5px 2px;
}

.shortcuts-content a{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    margin: 5px 0;
    font-size: 15px;
    color: var(--text);
}

.shortcuts-content a:hover{
    background: var(--link-hover);
}

.shortcuts-content img{
    width: 28px;
    height: 28px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 10px;
}

/* ==== STOTRIES ==== */
.stories {
    display: flex;
    gap: 8px;
    padding: 25px;
    width: 100%;
    height: 220px;
    margin-bottom: 20px;
    position: relative;
}

.see-all-stories span{
    position: absolute;
    top: 100px;
    right: 40px;
    display: flex;
    padding: 6px;
    border-radius: 50%;
    background: var(--contents);
    box-shadow: var(--soft-shadow);
    cursor: pointer;
    z-index: 1;
}

.see-all-stories span i{
    font-size: var(--font-max);
    color: var(--secondary);
}

.user-story-photo img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.user-story-footer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.user-story-footer a{
    display: flex;
    align-items: center;
    position: absolute;
    top: -20px;
    border: 5px solid var(--contents);
    background: var(--primary);
    color: #fff;
    border-radius: 50%;
    padding: 5px 6px;
}

.user-story-footer a i{
    font-size: var(--font-large);
}

.user-story-footer p{
    position: absolute;
    bottom: -38px;
    color: var(--text);
    font-size: .8125rem;
    font-weight: 600;
}

.stories article{
    width: 111px;
    height: 200px;
    border-radius: 12px;
    background: var(--contents);
    box-shadow: var(--soft-shadow);
    filter: brightness(100%);
    cursor: pointer;
    transition: all 0.2s ease;
    z-index: 1;
}

.stories article:hover{
    filter: brightness(90%);
}

.friend-story-photo img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

.friend-story-details{
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    padding: 10px;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.friend-story-details-photo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--primary);
}

.friend-story-details-name p{
    color: #fff;
    font-size: var(--font-min);
}


.feed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.feed-post{
    padding: 12px 16px 10px;
    border-radius: 8px;
    background: var(--contents);
    box-shadow: var(--soft-shadow);
}

.feed-post-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: var(--soft-border);
}

.feed-post-header-img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.feed-post-header-input input{
    width: 400px;
    padding: 8px 12px;
    height: 40px;
}

.feed-post-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feed-post-actions a{
    display: flex;
    padding: 8px;
    margin-top: 10px;
    align-items: center;
    border-radius: 8px;
    font-size: 15px;
    color: var(--secondary);
}

.feed-post-actions a:hover{
    background: var(--link-hover);
}

.feed-post-actions a svg{
    margin-right: 10px;
}

.feed-pubs{
    background: var(--contents);
    box-shadow: var(--soft-shadow);
    border-radius: 8px;
    width: 500px;
    padding-bottom: 12px;
}

.pub-header{
  padding: 12px 16px 0; 
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}

.pub-header-submenu span{ 
    border-radius: 50%;
    padding: 4px 6px;
    cursor: pointer;
    color: var(--secondary);
}

.pub-header-submenu span:hover{
    background: var(--link-hover);
}

.pub-author-details{
    display: flex;
}

.pub-author-photo img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.pub-author-name p{
    font-size: 15px;
    font-weight: 600;
    color: var(--text);
}

.pub-author-name span{
    font-size: 13px;
    color: var(--secondary);
    cursor: pointer;
}

.pub-author-name small{
    color: var(--secondary);
}

.pub-author-name span i{
    font-size: 15px;
    vertical-align: middle;
}

.pub-author-name span:hover{
    text-decoration: underline;
}

.pub-text{
    padding: 0 16px;
    padding-bottom: 10px;
    font-size: 15px;
    color: var(--text);
}

.pub img{
    width: 100%;
    height: 500px;
    object-fit: cover;  
}

.pub-reactions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reactions{
    display: flex;
    align-items: center;
    padding: 12px 16px 0; 
    margin-bottom: 12px; 
}

.reactions img{
    width: 18px;
    height: 18px;
    margin-right: 2px;
    border-radius: 50%;
    object-fit: cover;
}

.reactions-count p{
    margin: 0 6px;
    color: var(--secondary);
    font-size: 15px;
    cursor: pointer;
}

.reactions-count p:hover{
    text-decoration: underline;
}

.count-comments{
    padding: 12px 16px 0; 
    margin-bottom: 12px; 
}

.count-comments p{
    color: var(--secondary);
    font-size: 15px;
    cursor: pointer;
}

.count-comments p:hover{
    text-decoration: underline;
}

.pub-actions{
   padding: 0 16px;
   position: relative;
}

.reactions-show:hover ~ .pub-reactions-hide{
    visibility: visible;
    opacity: 1;
    top: -50px;
    
    z-index: 2;
}

.pub-reactions-hide{
    position: absolute;
    top: -30px;
    left: 10px;
    display: flex;
    justify-content: space-between;
    visibility: hidden;
    opacity: 0;
    background: var(--contents);
    box-shadow: var(--shadow);
    width: 332px;
    padding: 5px 2px;
    border-radius: 20px;
    gap: 8px;
    transition: all 0.4s ease;
}

.pub-reactions-hide:hover{
    visibility: visible;
    opacity: 1;
    top: -50px;
    
    z-index: 2;
}

.pub-reactions-hide img{
    width: 38px;
    height: 38px;
    object-fit: cover;
    transform: scale(1);
    cursor: pointer;
    transition: all 0.2s ease;
}

.pub-reactions-hide img:hover{
    transform: scale(1.2);
}

.pub-actions-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-top: var(--border);
    border-bottom: var(--border); 
}

.pub-actions-buttons a{
    display: inline-block;
    padding: 8px 12px;
    margin: 5px 0;
    width: 100%;
    border-radius: 8px;
    color: var(--secondary);
    font-weight: 600;

}

.pub-actions-buttons a:hover{
    background: var(--link-hover);
}

.comments-content{
    display: flex;
    align-items: center;
    padding: 12px 16px 0;
}

.comment-request {
    margin-top: 5px;
    padding-left: 80px;
}

.comment-user-photo img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.commente-details{
    position: relative;
    padding: 12px;
    padding-bottom: 18px;
    background: var(--link-hover);
    border-radius: 8px;
    margin-right: 5px;
}

.comment-author p{
    font-size: 13px;
    font-weight: 600;
    color: var(--text); 
    cursor: pointer;
    display: inline-block;
}

.comment-author p:hover{
    text-decoration: underline;
}

.comment{
    color: var(--text);
    font-size: 15px;
}

.comment strong{
    cursor: pointer;
}

.comment strong:hover{
    text-decoration: underline;
}

.comente-img img{
    margin-top: 5px;
    width: 100%;
    cursor: pointer;
}

.comment-reaction{
    position: absolute;
    right: 0;
    bottom: -10px;
    display: flex;
    align-items: center;
    padding: 2px 3px;
    border-radius: 20px;
    background: var(--content-secondary);
    box-shadow: var(--soft-shadow);
}

.comment-reaction img{
    width: 18px;
    height: 18px;
    margin-right: 2px;
    border-radius: 50%;
    object-fit: cover;  
    cursor: pointer;
}

.comment-reaction span{
    color: var(--secondary);
   margin-left: 5px;
}

.comment-actions{
    padding: 5px 70px;
}

.comment-actions a{
    font-size: 13px;
    font-weight: 600;
    margin-right: 10px;
    color: var(--secondary);
}

.comment-like{
    color: hsl(214, 100%, 59%) !important;
}

.comment-love{
color: #F3425F !important;
}

.comment-haha,
.comment-sad{
    color: #F7B928 !important;
}

.comment-actions span{
    font-size: 13px;
    color: var(--secondary);
}

.comment-actions a:hover{
    text-decoration: underline;
}

.write-a-comment{
    padding: 12px 16px 0;
    display: flex;
    align-items: center;
}

.write-a-comment-user-photo {
    position: relative;
    width: 32px;
    margin-right: 10px;
}

.write-a-comment-user-photo img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;  
    cursor: pointer;
}

.user-status{
    position: absolute;
    right: 0;
    bottom: -2px;
}

.user-status i{
    color: #45BD62;
}

.write-a-comment-input input{
    padding: 8px 12px;
    width: 420px;
}


.right-side{
    position: fixed;
    top: 56px;
    right: 0;
    width: 300px;
    height: calc(100vh - 56px);
    padding: 10px 16px;
    overflow: auto;
    display: block;
}

.right-side:hover.right-side::-webkit-scrollbar-thumb {
    visibility: visible;
    opacity: 1;
}

.right-side::-webkit-scrollbar-track {
    border-radius: 10px;
}

.right-side::-webkit-scrollbar {
    width: 8px;
}

.right-side::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--scrollbar);
    visibility: hidden;
    opacity: 0;
}

.patronize-header p{
    color: var(--secondary);
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px
}

.patronize-content{
    margin-bottom: 20px;
}

.patronize-details{
    display: flex;
    align-items: center;
}

.patronize-details img{
    width: 108px;
    height: 108px;
    margin-right: 10px;
    border-radius: 8px;
    object-fit: cover;  
    cursor: pointer;
}


.patronize-details a{
    color: var(--secondary);
}

.online-users-header{
    color: var(--secondary);
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px
}

.online-user{
    margin-bottom: 10px;
}

.online-user-details{
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 6px;
    border-radius: 8px;
    cursor: pointer;
}

.online-user-details:hover{
 background: var(--link-hover);
}

.online-user-details img{
    width: 28px;
    height: 28px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;  
    cursor: pointer;
}

.online-user-status{
    position: absolute;
    margin-left: 15px;
    bottom: 2px;
}

.online-user-status i{
    color: #45BD62;
}

.online-user-details p{
    color: var(--text);
}

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 400px) {}
